@use 'custom';

// importing componenets

@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';
@use 'components/card';

// importing sections

@use 'sections/navbar';
@use 'sections/intro-section';
@use 'sections/features';
@use 'sections/get-started';
@use 'sections/footer';
@use 'sections/summarizer';

a {
  text-decoration: none;
}

body {
  background: #13293D;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
