#features {
  padding-top: 60px;

  #save-time-card .image-holder {
    background: url('../../img/TimeCircle.png') no-repeat center center;
  }

  #upload-card .image-holder {
    background: url('../../img/PaperPlus.png') no-repeat center center;
  }

  #multi-card .image-holder {
    background: url('../../img/Chat.png') no-repeat center center;
  }

  #concepts-card .image-holder {
    background: url('../../img/Lock.png') no-repeat center center;
  }

  #essays-card .image-holder {
    background: url('../../img/Edit.png') no-repeat center center;
  }

  #free-card .image-holder {
    background: url('../../img/Heart.png') no-repeat center center;
  }




}