.h1-centered-header {
  color: #fafafa;
  font-family: 'Poppins';
 
  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 62px;
  }
  
  p {
    text-align: center;
    color: #e4e8eb;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Open sans';
  }
}

.overline-heading {
  .overline {
    font-size: 18px;
    font-family: 'Open sans', sans-serif;
    color: rgba(255, 255, 255, 0.75);
  }

  h2 {
    color: #fafafa;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
  }
}